body{
    background-color: black;
    color: gold;
    font-size: 25px;
    font-family: 'Calligraffitti', cursive;
    }
input{
    background-color: gold;
    color: black;
    height: 50px;
    width: 350px;
    font-family: 'Calligraffitti', cursive;
    font-size: 20px;
    }
div{
    text-align: center;
    font-family: 'Calligraffitti', cursive;
    }
.heading{
    font-size: 40px;
    }
#banner{
    text-align: center;
    border: solid gold 15px;
    border-radius: 25px;

    }
#btn{
    font-family: 'Calligraffitti', cursive;
    background-color: black;
    color: gold;
    border: solid 8px gold;
    border-radius: 15px;
    }